/.idea/
/3.2.0/measurements-check/**/*
/*-dump.sql
/3.3.0/sql/2025-11-11/04_20_add_roles.sql
/3.3.0/sql/**/update-*.psql
/RMDs/ros_metatadata-LL.Rmd
/RMDs/ros_metatadata-PS.Rmd
/RMDs/ros_metatadata-ALL.Rmd
/RMDs/ros_metatadata-GN.Rmd
/RMDs/ros_metatadata-PL.Rmd
/RMDs/reference_data_metatadata-ALL.Rmd
*-db.json
